@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
background-color: #ffeadb;
}

h1 {
    text-align: center;
    font-size: 65px;
    color: #8B0000;
    text-shadow: 5px 6px 6px #814a4a;
}

.menu {
    margin-top: 80px;
    text-align: center;
}

.menu-item {
    margin: 0 100px;
    font-size: 35px;
    color: #8B4513;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}


.genrename {
    margin-top: 120px;
    font-size: 40px;
    color: #B0663C
}

.films-wrapper {
    text-align: center;
}

.filmimg {
    width: 400px;
}

.filmcard {
    background-color: #FDF5E6;
    border-radius: 20px;
    text-align: center;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 1%;
    box-sizing: border-box;
    width: 550px;
    display: inline-block;
    padding: 20px;
    box-shadow: 3px 6px 6px black;
}

.filmcard p {
    text-align: center;
    display: block;
}

.button {
    background-color: #F08080;
    width: 110px;
    text-align: center;
    margin: auto;
    padding: 5px;
    border-radius: 15px;
}

.food {
    margin-top: 80px;
    color: #800000;
    font-size: 40px;

}

caption {
    font-size: 30px;
    margin: 10px;
}

/*Таблица вроде бы должна быть по центру или нет?
А еще в шаблоне ячейки слитно находятся, а не раздельно.
*/
table {
    width: 60%;
    text-align: center;
    font-size: 20px;
    background-color: #FDF5E6;

}

th {
    border: 1px solid black;
}

/*Как определить, где какая ячейка?*/
td {
   
}

/*А точно по вертикали все впорядке?*/
.price {
    vertical-align: top;
}

.listwrapper {
    width: 600px;
    margin: 60px auto 0;
}

.listheader {
    font-size: 40px;
    color: #800000;
}

/*В шаблоне вроде квадратики нужны. Но я не смог разобраться.*/
ul {
    font-size: 24px;

}

.adress {
    text-align: center;
    font-size: 24px;
}

/*Думаю. что размер текста в самый раз, но есть сомнения.*/
.welcome {
    text-align: center;
    margin-top: 80px;
    color: #8B4513;

}
